body {
    font-family: system-ui, sans-serif;
    margin: 16px;
    background: #0f1115;
    color: #eaeaea;
}
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    bottom: 20px;
}
th,
td {
    border-bottom: 1px solid #2a2d36;
    padding: 8px 10px;
    vertical-align: top;
}
th {
    text-align: left;
    background: #1a1d25;
    position: sticky;
    top: 0;
}
tr:hover {
    background: #1f2230;
}
.mono {
    font-family: ui-monospace, monospace;
}
.ok {
    color: #4ade80;
}
.no {
    color: #f87171;
}
th {
    position: relative;
}

th .resizer {
    position: absolute;
    right: 0;
    top: 0;
    width: 6px;
    height: 100%;
    cursor: col-resize;
    user-select: none;
}

th .resizer:hover {
    background: rgba(255, 255, 255, 0.2);
}

.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0f1115;
}

.navbar {
    position: sticky;
    top: 0;
    height: 56px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background: #0f1115;
    z-index: 1000;
}

thead th {
    position: sticky;
    top: 56px;
    background: #1a1d25;
    z-index: 500;
}

.avt {
    width: 30px;
}
